body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.slider {
    width: 100%;
    position: relative;

    h1 {
        text-align: center;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 25px;

        @media screen and (min-width: 767px) and (max-width: 1024px) {
            left: 0;
        }
    }

    &__card {
        position: relative;
        width: 220px;
        display: flex;
        height: 250px;
        @media screen and (min-width: 260px) and (max-width: 456px) {
            width: 250px;
            height: 290px;
        }

        &.slider__overlay__desc {
            display: none;
        }

        &.slider__overlay {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
        }

        &:hover .slider__overlay {
            display: block;
            transition: height 0.5s;
            background-color: black;
            left: 0;
            bottom: 0;
            width: 90%;
            height: auto;
            color: white;

            &::before {
                background-color: orange;
                content: "";
                height: 100%;
                width: 10px;
                overflow: hidden;
                position: absolute;
                left: 0;
            }
        }

        &__img {
            display: block;
            width: 90%;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 90%;
        color: white;
        transition: height 0.5s;

        &__desc {
            display: none;
        }

        &__head {
            text-align: center;
            padding: 30px;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    &__card:hover .slider__overlay .slider__overlay {
        &__desc {
            display: block;
            margin-left: 20px;
            margin-top: 40px;
        }

        &__title {
            padding: unset;
            text-align: left;
            margin-left: 20px;
        }
    }
}

.slider__items .slick-dots {
    margin: 20px;
    bottom: unset;
    width: 91%;
}
@media screen and (min-width: 287px) and (max-width: 426px) {
    .slider__items .slick-dots {
        width: 60%;
    }
}
.slider__items .slick-arrow {
    position: absolute;
    top: 50%;
    display: block;
    z-index: 3;
    transform: translate(0, -50);
    cursor: pointer;
}
.slider__items .slick-arrow.next {
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #494646;
    color: #494646;
    border-radius: 50%;
    position: absolute;
    top: 115px;
    padding: 7px;
}
.slider__items .slick-arrow.next:hover {
    color: #222020;
    border: 1px solid #222020;
}
@media screen and (min-width: 765px) and (max-width: 1024px) {
    .slider__items .slick-arrow.next {
        display: none;
    }
}
@media screen and (min-width: 287px) and (max-width: 426px) {
    .slider__items .slick-arrow.next {
        display: none;
    }
}
.slider__items .slick-arrow.prev {
    width: 20px;
    height: 20px;
    border: 1px solid #908c8c;
    color: #908c8c;
    border-radius: 50%;
    position: absolute;
    top: 115px;
    left: -50px;
    padding: 7px;
}
.slider__items .slick-arrow.prev:hover {
    color: #222020;
    border: 1px solid #222020;
}
@media screen and (min-width: 765px) and (max-width: 1024px) {
    .slider__items .slick-arrow.prev {
        display: none;
    }
}
@media screen and (min-width: 287px) and (max-width: 426px) {
    .slider__items .slick-arrow.prev {
        display: none;
    }
}
.slider__items .slick-slide .slick-active {
    width: unset;
}
.slider__items .slick-dots li.slick-active button:before {
    font-size: 16px;
    opacity: 0.75;
    color: #f7941d;
}
.slider__items .slick-dots li button:before {
    font-family: slick;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    color: #908c8c;
}

// .slider__items .slick-prev {
//     color: black;
//     z-index: 1;
//     top: 115px;
//     position: absolute;
//     left: -15px;
// }

// .slider__items .slick-next {
//     color: black;
//     z-index: 1;
//     top: 115px;
//     position: absolute;
//     right: 15px;
// }

// .slider__items .slick-prev::before,
// .slider__items .slick-next::before {
//     content: "";
//     display: block;
// }

// .slider__items .slick-prev::before {
//     content: "\2190";
// }

// .slider__items .slick-next::before {
//     content: "\2192";
// }
// .slick-slide img {
//     width: 190px;
//     height: 250px;
//     display: block;
// }

// .overlay {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     overflow: hidden;
//     background-color: rgb(98, 92, 92);
//     width: 100%;
//     transition: all 0.3s ease-in-out;
// }

// .slider_img:hover .overlay {
//     height: 100%;
// }

// .slider__dots {
//     display: flex;
//     justify-content: center;
//     margin-top: 10px;

//     .dot {
//         width: 10px;
//         height: 10px;
//         margin: 0 5px;
//         border-radius: 50%;
//         background-color: grey;
//         cursor: pointer;

//         &:hover {
//             background-color: orangered;
//         }
//     }
// }
